@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #3a3a3a
}

/* Headings and Logo Style */

h1, h2 {
    font-family: 'poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;

    margin-left: 30px;
}

/* Navigation links and menu */

#menu {
    font-size: 110%;
    letter-spacing: 5px;
}

#menu, #logo {
    line-height: 70px;
}

#menu li {
    float:right;
    list-style: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Peaclines Main Image and cover text */

#peaceline-main {
    height: 900px;
    width: 100%;
    background: url('../images/Frankie_quinn_peaceline.jpg') /* no-repeat center center */;
    /* background-size: auto 100%; 
    background-repeat: no-repeat; */
}

    #cover-text {
    color: black;
    font-size: 130%;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    
    width: 300px;
    height: 200px;
    
    padding-top: 40px;
    padding-left: 10px;
    
    background-color: rgba(201, 199, 186, 0.7);

    bottom: 100px;
    right: 150px;
    position: absolute;
    } 

    #hero-outer {
        height: 600px;
        width: 100%;
        overflow: hidden;
    
        position: relative;
    }

    /* #cover-text {
        font-size: 130%;
        font-family: 'Roboto', sans-serif;
        text-transform: uppercase;
        letter-spacing: 4px;
    
        width: 300px;
        height: 200px;
    
        padding-top: 40px;
        padding-left: 10px;
    
        background-color: (rgba 246, 217, 0, 1 .7);

        bottom: 100px;
        right: 150px;
        position: absolute;
    }
*/
  
/* About us page styling */

#about-us {
    height: 600px;
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
    background-color: green;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
    background-color: green;
}

#centre-about {
    padding-top: 30px;
    width: 33%;
    margin: 0 auto;
}