@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #3a3a3a
}

/* Headings and Logo Style */

#header {
    height: 70px;
    width: 100%;
    background-color: rgba(201, 199, 186, 0.7);
/*
    position: fixed;

    */
    
}

h1, h2 {
    font-family: 'poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;

    margin-left: 30px;
}

/* Footer and social media Style - Taken from love running project */

footer {
    height: 150px;
    background-color: aqua;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a;
}

/* Navigation links and menu */

#menu {
    font-size: 110%;
    letter-spacing: 3px;
}

#menu, #logo {
    line-height: 70px;
}

#menu li {
    float:right;
    list-style: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: black;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Peaclines Main Image, cover text and main description */


#hero-outer {
    height: 800px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#peaceline-main {
    height: 800px;
    width: 100%;
    background: url('../images/Frankie_quinn_peaceline.jpg');
    
    background-size: cover;
    background-repeat: no-repeat;
}

    #cover-text {
    color: black;
    font-size: 130%;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    
    width: 300px;
    height: 200px;
    
    padding-top: 40px;
    padding-left: 10px;
    
    background-color: rgba(245, 244, 238, 0.75);

    bottom: 150px;
    right: 50px;
    position: absolute;
    } 

    /*Description page Div styles*/

#description-top {
    height: 300px;
    width: 100%;
    background-color: white;
    padding: 40px;
    color: black;
    
}

#description-top h2 {
    float: left;
    text-align: left;

    font-size: 400%;
    width: 30%;
    padding: 5px;
}

#description-top p {
    float: right;
    width: 45%;
    font-size: 120%;
    padding: 5px;
    padding-right: 20px;
    margin-right: 50px;
}

#description-bottom {
    height: 300px;
    width: 100%;
    background-color: rgb(170, 197, 209);
    text-align: left;
    padding: 40px;
}

#description-bottom h2 {
    float: right;
    text-align: right;

    font-size: 400%;
    width: 40%;
    padding: 5px;
    margin-right: 20px;
}

#description-bottom p {
    float: left;
    width: 55%;
    font-size: 130%;
    padding: 5px;
    
    margin-right: auto;
}


/* About us page styling */

#about-outer {
    height: 350px;
    width: 100%;

    overflow: hidden;
}

#about-main {

    height: 350px;
    width: 100%;
    background: url('../images/full_colour_mural_main.jpg') no-repeat center center rgba(201, 199, 186, 0.7);
    filter: grayscale(100%);
    

/** Aninmates zoom effect on loading page **/
    animation-name: about-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}


/** Creates the level of zoom for the about our tour Image **/

@keyframes about-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#about-main h2 {
    
    font-size: 300%;
    color: yellow;
    text-align: center;
    padding: 70px;
}

#about-main-left {

    float: left;
}

#about-main-right {

    float: right;
}

/*Dander ethos and about styles */

.about-containers {
    height: 250px;
    width: 100%;
    background-color: rgba(201, 199, 186, 0.7);

    padding: 20px;
}

hr {
    border-top: 3px solid black;
    width: 100%;
    margin: 10px 0;
}

.about-containers h2 {
    font-size: 400%;
    color: black;
}

.about-containers p {
    float: right;
    font-size: 110%;
    color: black;

}


/* Sign up page */

.reviews {
    height: auto;
    width: 40%;
    background-color: blanchedalmond;
    display: inline-block;
    margin: 15px;
    
}


.reviews p {
    padding: 5px;
    font-size: 80%;
    border: solid;
    border-width: 2px;
    border-color: black;
    border-radius: 2%;
} 

/* sign up page schedule table */

#timetable {
    height: auto;
    width: 100%;
    background-color: burlywood;
    margin: 25px;
}

table {
	width: 80%;
    margin: 5%;
    padding: 5px;
}

tr {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

tr, th, td {
	text-align: right;
}

th, td {
	border: 2px solid black;
	padding: 2px;
}

/* Form styling */


.form {
    height: 800px;
    width: 650px;
    background-color: chocolate;
    margin: 50px 50px;
    margin-right: 50px;

    border: 1px solid black;
    border-radius: 1%;
}

input {
        width: 50%;
        padding: 1px;
        border: 1px solid black;
        border-radius: 5px;
        box-sizing: border-box;
        float: right;
}

label {
    
    width: 150px;
    height: 20px;
    text-align: left;
    position: relative;
}

