@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #3a3a3a
}

/* Headings and Logo Style */

#header {
    height: 70px;
    width: 100%;
    background-color: rgba(201, 199, 186, 0.7);
/*
    position: fixed;

    */
    
}

h1, h2 {
    font-family: 'poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 280%;

    margin-left: 30px;
}

/* Navigation links and menu */

#menu {
    font-size: 110%;
    letter-spacing: 3px;
}

#menu, #logo {
    line-height: 70px;
}

#menu li {
    float:right;
    list-style: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: black;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Peaclines Main Image, cover text and main description */


#hero-outer {
    height: 800px;
    width: 100%;
    overflow: hidden;

    position: relative;
}

#peaceline-main {
    height: 800px;
    width: 100%;
    background: url('../images/Frankie_quinn_peaceline.jpg');
    
    background-size: cover;
    background-repeat: no-repeat;
}

    #cover-text {
    color: black;
    font-size: 130%;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    
    width: 300px;
    height: 200px;
    
    padding-top: 40px;
    padding-left: 10px;
    
    background-color: rgba(245, 244, 238, 0.75);

    bottom: 150px;
    right: 50px;
    position: absolute;
    } 

    

  


#description {
    height: 400px;
    width: 100%;
    background-color: white;

    display: inline-block;

}

#description-left {
    height: 100%;
    width: 30%;
    background-color: white;
    float: left;
    font-size: 250%;
    padding-left: 50px;
    color: black;
}

#description-right {
    height: 100%;
    width: %;
    background-color: rgb(170, 197, 209);
    float: right;
    text-align: center center;
}


/* About us page styling */

#about-outer {
    height: 350px;
    width: 100%;

    overflow: hidden;
}

#about-main {

    height: 350px;
    width: 100%;
    background: url('../images/full_colour_mural_main.jpg') no-repeat center center;
    /* background-size: 100% 300px;*/

/** Aninmates zoom effect on loading page **/
    animation-name: about-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;


}
/** Creates the level of zoom for the about our tour Image **/

@keyframes about-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

#about-main h2 {
    float: right;
    font-size: 250%;
    padding-left: 100px;
    color: yellow;
    text-align: center;
    padding-top: 200px;
    padding-right: 100px;
}

/*Dander ethos and about styles */

#dander-ethos {

    height: 600px
}

#left-about {
    padding-top: 30px;
    width: 33%;
    float: left;
    background-color: burlywood;
}

#right-about {
    padding-top: 30px;
    width: 33%;
    float: right;
    background-color: cadetblue;
}

#centre-about {
    width: 33%;
    margin: 0 auto;
    background-color: silver;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 10px 0;
}

.left-about-heading {
    width: 90%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading {
    width: 90%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-about-heading > h2 {
    float: right;
}

#about-title {
    text-align: center;
    margin: 50px 0;
    font-size: 250%;
}